qa-framework/tools/pandoc/pandoc.exe filter=lfs diff=lfs merge=lfs -text
qa-framework/tools/poppler/bin/*.exe filter=lfs diff=lfs merge=lfs -text
qa-framework/tools/poppler/bin/*.dll filter=lfs diff=lfs merge=lfs -text
